@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: #003566;
  color: whitesmoke;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family:'Courier New', Courier, monospace;
}

#google-auth {
  margin: 0px 10px;
  background-color: black;
  border: black;
  color: white;
  font-weight: bold;
}

#google-auth:hover, .filter-btn:hover, .create-btn:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

#vocab-logo {
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

#navbar-style {
  background-color: #003566;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  margin: 0px;
}

#btn-row {
  margin: 5px;
  padding: 5px;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
}

.filter-btn {
  background-color: #ffd60a;
  border: #ffd60a;
  color: black;
  font-weight: bold;
}

.zero {
  padding: 0px;
  margin: 0px;
}

.create-btn {
  color: black;
  font-weight: bold;
  background-color: #e85d04;
  border: #e85d04;
  margin: 10px;
}

.card {
  display: inline-block;
  margin: 10px;
}

#card-style {
  background-color: #ffd60a;
  color: #001d3d;
}

.card-header {
  font-size: x-large;
  font-weight: bold;
}

.card-title {
  font-size: large;
  font-weight: bolder;
}

.card-text {
  font-size: medium;
}

.card-btn {
  font-size: small;
  font-weight: bolder;
  color: black;
}
